# Standardkonto
defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        ~/.local/share/msmtp/msmtp.log

# account1.net
account account1
host YOUR_IMAP_HOST_1
port 465
tls_starttls off
from bernd@brobertz.net
user bernd@brobertz.net
passwordeval secret-tool lookup service smtp-account1 username YOUR_EMAIL_1@DOMAIN1

# account2.de
account account2
host YOUR_IMAP_HOST_2
port 465
tls_starttls off
from b.robertz@valueforce.de
user b.robertz@valueforce.de
passwordeval secret-tool lookup service smtp-account2 username YOUR_EMAIL_2@DOMAIN2

account default : account1
